<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosario Gestiones</title>
<link rel="stylesheet" href="/css/styles.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header> 
        <!-- cabecera de la pagina -->
        <img src="" alt=""> 
        <!-- Aca va la barra de busqueda-->
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas </a> </li>
                <li><a href="">Tiendas Oficiales </a> </li>
                <li><a href="">Vender</a> </li>
                <li><a href="">Ayuda</a> </li>
            </ul>

            <ul>
                <li> <a href="">Creá tu cuenta </a> </li>
                <li> <a href="">Ingresá </a> </li>
                <li> <a href="">Mis compras </a> </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    
</header>

<main>

        <h3>Basado en tu última visita</h3>
    </main>
    <footer>

    </footer>
</body>
</html>